@font-face {
                font-family: BriosoPro;
                font-display: swap;
                src: url("../fonts/BriosoPro.woff2") format("woff2"), url("../fonts/BriosoPro.ttf") format("ttf");
                font-weight: 400;
                font-style: normal;
              }
