.header {
  position: relative;
  z-index: 100;
  &__content {
    max-width: 1052px;
    margin: 0 auto;
    padding: 0 6px;
  }

  &__menu {
    padding: 10px 0;
    height: 82px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    @media (max-width: #{$md3}px) {
    height: 50px;
    }
  }
}

.menu {
  &__body {
    @media (max-width: #{$md3}px) {
      transform: translate(0px, -100%);
      transition: transform 0.08s ease 0s;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: auto;
      padding: 60px 10px 30px 10px;
      background-color: rgba($color: #fff, $alpha: 0.8);
      &._active {
        transform: translate(opx, 0%);
      }
    }
  }

  &__list {
    li {
      margin: 0 0 30px 0;
      &:last-child{
        margin: 0 0 0 0;
      }
    }
    @media (min-width: #{$md3}px) {
      margin: 0 33px 0 0px;
      display: flex;
      li {
        margin: 0 33px 0 0;
      }
    }
  }

  &__link {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s ease 0s;
    
    @media (min-width: #{$md2}px) {
      &:hover {
        color: #FF6464;
      }
    }
    @media (max-width: #{$md3}px) {
      font-size: 40px;
      display: block;
      text-align: center;
    }
  }
}

//<БУРГЕР>============================
.icon-menu {
  display: none;

  @media (max-width: #{$md3}px) {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;

    span {
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;

      &:first-child {
        top: 0;
      }

      &:last-child {
        top: auto;
        bottom: 0;
      }
    }

    &._active {
      span {
        transform: scale(0);

        &:first-child {
          transform: rotate(45deg);
          top: calc(50% - 1px);
        }

        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }
}
//<БУРГЕР>============================
