.hello {
	padding-top: 33px;
	padding-bottom: 70px;

	@media (max-width: #{$md1}px) {
		padding: 0px 0px 0px 0px;
	}

	@media (max-width: #{$md3}px) {
		padding: 0px 0px 60px 0px;
	}

	//hello
	&__container {
		display: flex;

		@media (max-width: #{$md3}px) {
			text-align: center;
			flex-direction: column-reverse;
		}
	}

	//hello
	&__content {
		align-items: flex-start;
		flex: 1 1 auto;
		padding: 18px 110px 0 0;

		*:last-child {
			margin-bottom: 0;
		}

		@media (max-width: #{$md1}px) {
			padding: 18px 50px 0 0;
		}

		@media (max-width: #{$md3}px) {
			padding: 0px 0px 0px 0;
		}
	}

	//hello
	&__title {
		margin: 0 0 25px 0;
	}

	@media (max-width: #{$md3}px) {
		margin: 0px 0px 20px 0px;
	}

	//hello
	&__text {
		margin: 0 0 30px 0;
	}

	@media (max-width: #{$md3}px) {
		padding: 0 15px;
		margin: 0px 0px 25px 0px;
	}

	//hello
	&__btn {
		margin: 0 0 25px 0;
	}

	@media (max-width: #{$md3}px) {
		padding: 0px 0px 20px 0px;
	}

	//hello
	&__avatar {
		position: relative;
		flex: 0 0 243px;
		height: 242px;
		width: 242px;
		margin: 0 auto;
		border-radius: 50%;
		overflow: hidden;
		box-shadow: -7px 13px 0px 0px #ddf3fa;

		img {
			max-width: 100%;
		}

		@media (max-width: #{$md3}px) {
			flex: 0 0 170px;
			height: 170px;
			width: 170px;
			margin-bottom: 40px;
		}
	}
}

//<>===========================================

.recent-posts {
	background-color: #EDF7FA;
	padding: 25px 0px 13px 0px;

	//recent-posts
	&__conteiner {}

	//recent-posts
	&__header {
		display: flex;
		margin-bottom: 20px;
	}

	//recent-posts
	&__title {
		padding: 0px 20px 0px 0px;
		flex: 1 1 auto;
	}

	//recent-posts
	&__view-all {
		flex: 0 0 auto;
		font-size: 16px;
		line-height: 23px;
		color: #00A8CC;

		@media (max-width: #{$md3}px) {
			display: none;
		}
	}

	//recent-posts
	&__items {
		margin: 0 -10px;

		@media (min-width: #{$md3}px) {
			display: flex;
		}

	}

	//recent-posts

	&__colum {
		flex: 0 1 50%;
		padding: 0px 10px;
		margin-bottom: 17px;
	}

	//recent-posts

	&__item {}
}

.recent-post {
	height: 100%;
	background-color: #fff;
	box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
	border-radius: 4px;
	padding: 20px;

	@media (max-width: #{$md3}px) {
		padding: 15px;
	}

	*:last-child {
		margin-bottom: 0;
	}
	&__title {
		font-weight: 700;
		font-size: 26px;
		line-height: calc(38 / 26) * 100%;
		transition: color 0.03s ease 0s;
		display: inline-block;
		margin-bottom: 17px;

		@media (min-width: #{$md2}px) {
			&:hover {
				color: #ff6464;
			}
		}

		@media (max-width: #{$md3}px) {
			font-size: 22px;
		}
	}

	&__info {
		font-size: 18px;
		line-height: calc(26 / 18) * 100%;
		margin-bottom: 15px;

		span {
			margin: 0 10px;
		}

		font-size: 16px;

	}

}

//<>=============================
.featured-works {
	padding-top: 30px;
	padding-bottom: 80px;
	@media (max-width: #{$md3}px) {
		padding-top: 30px;
		padding-bottom: 30px;
    }
	&__items {
		@media (max-width: #{$md3}px) {
			display: flex;
	overflow: auto;
		}
	}
	&__title {
		margin-bottom: 20px;
	 }
}


