//<обнуление общие параметры>===================
@import "null";
body {
  color: #21243d;
  font-size: 14px;
  &._lock {
    overflow: hidden;
  }
}

//<обнуление общие параметры>===================
@import "fonts";
@import "icons";

* {
  font-family: Heebo;
}

//<ПЕРЕМЕННЫЕ>==================================
$minWidht: 320px;
$maxWidht: 1152;
$maxWidhtConteiner: 856;
$md1: $maxWidhtConteiner+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//<ОСНОВНАЯ СЕТКА>===================
._container {
  max-width: $maxWidhtConteiner + px;
  margin: 0 auto;
  @media (max-width: #{$md1}px) {
    max-width: 970px;
  }
  @media (max-width: #{$md2}px) {
    max-width: 750px;
  }
  @media (max-width: #{$md3}px) {
    max-width: none;
    padding: 0 10px;
  }
}


//<ОБОЛОЧКА>===================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
  &._loaded {}
}

.page {
  padding: 50px 0px 0px 0px;
  flex: 1 1 auto;
  @media (max-width: #{$md3}px) {
  padding: 30px 0px 0px 0px;
  }
}

//<ОБОЛОЧКА>===================



@import "header";
@import "forms";
@import "home";
@import "ui";
@import "works";
@import "footer";
@import "blog";
@import "article";



._active {
  color: #fc3f3f;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
	&__item {
    margin: 0 17px;
    font-size: 30px;
    color: inherit;
		transition: color 0.03s ease 0s;

    @media (min-width: #{$md2}px) {
			&:hover {
				color: #ff6464;
			}
		}
   }
}